accelerate==1.7.0
deepspeed
diffusers>=0.33.0
huggingface-hub
git+https://github.com/cloneofsimo/lora.git
git+https://github.com/microsoft/LoRA
loralib
numpy==1.26.4
tqdm
einops
imageio
imageio-ffmpeg
torch>=2.6.0
torchvision>=0.21.0
torchaudio
transformers>=4.51.3
decord
safetensors
omegaconf
opencv-python
pydantic
triton
compel
peft>=0.15.0
pytorch_lightning>=2.5.0
bitsandbytes
